@media screen and (min-width: 250px) and (max-width: 480px) {

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    #headerbar {
        height: 36px;
        display: flex;
        justify-content: space-between;
        width: 95.3%;
    }

    #headerLogo {
        display: flex;
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    #logo {
        margin-right: 3px;
        width: 26px;
        height: 26px;
    }

    #header-link {
        font-size: 20px;
    }

    #searchbar {
        margin-left: 3%;
        width: 100px;
    }

    #filterInput,
    #filterScreenInput {
        padding-left: 15%;
        font-size: 12px;
    }

    #dropdownMenu {
        position: relative;
        display: inline-block;
        text-align: center;
        padding: 0;
        width: fit-content;
        height: max-content;
        z-index: 1;
        height: auto;
    }

    #dropdownButton {
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-top: 1px;
        height: fit-content;
        background-color: transparent;
    }

    #dropdownButton:hover{
        background-color: transparent;
    }

    #dropdownButton::after {
        display: none;
    }

    #dropdownContent {
        display: none;
    }

    #dropdownContentReact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--card_black);
        border: 2px solid var(--border_gray);
    }

    #watchlistButton, #accountButton {
        color: var(--white);
        font-size: 16px;
        height: 36px;
    }

    #watchlistButton:hover, #accountButton:hover {
        background-color: transparent;
    }

    .bodyWrapper {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .rightContainer {
        order: 1;
        width: auto;
        height: 100%;
        margin-left: 0;
    }

    .utility {
        width: auto;
    }

    .utilityHeading {
        margin-right: 5%;
    }

    .badge {
        display: none;
    }

    .Button {
        width: 76px;
        height: 35px;
        box-shadow: none;
        border: none;
        color: var(--white);
        width: fit-content;
        background-color: #35363c00;
    }

    #saveButton {
        padding-left: 13%;
        border-radius: 0px 8px 8px 0px;
        border-left: 2px solid var(--border_gray);
        box-shadow: none;
        margin-right: 4px;
    }

    #filterButton span,
    #saveButton span {
        display: none;
    }

    #saveButton:hover,
    #filterButton:hover,
    #downloadButton:hover {
        background-color: transparent;
    }

    .filter-icon,
    .save-icon {
        font-size: 20px;
        display: inline-block;
    }

    #downloadButton {
        margin-left: 0;
    }

    #defaultScreenName, #watchlistName {
        font-size: 16px;
        font-weight: bold;
    }

    th,
    td,
    .stockTicker {
        font-size: 12px;
    }

    .stockName {
        font-size: 10px;
    }

    .stockLogo img {
        width: 30px;
    }

    .favHead h3,
    #bookmarkIcon {
        font-size: 18px;
    }

    .leftContainer {
        order: 2;
        width: auto;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 10px;
    }

    .filterPopup,
    .savePopup,
    .confirmPopup {
        width: fit-content;
        height: fit-content;
    }

    .filterPopup {
        height: 98%;
        width: 100%;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    #saveCloseButton,
    #filterCloseButton {
        font-size: 18px;
    }

    .renamePopup {
        width: fit-content;
        height: fit-content;
    }

    .criteriaCol {
        padding-left: 2%;
        width: 50px;
    }

    #confirmPopup, #renamePopup{
        width: fit-content;
    }

    #dltCell{
        height: 60px;
    }

    #screen-body{
        padding: 0 8px 0 8px;
    }

    #screenUtility, #screenTableView{
        margin: 0;
        width: 100%;
    }

}

/* Opera */
@media screen and (min-width: 1409px) {
    .favBody {
        height: 38.9vh;
    }

    .tableview {
        height: 74.8vh;
    }
}

/* Edge */
@media screen and (min-width: 1415px) {
    .favBody {
        height: 43.1vh;
    }

    .tableview {
        height: 76.8vh;
    }
}

/* Brave & Chrome */
@media screen and (min-width: 1422px) {
    .favBody {
        height: 38.9vh;
    }

    .tableview {
        height: 76vh;
    }
}